/* Copyright © 2019 Anthony PILLOT */

#profile-picture {
    width: 60%;

    border-width: 2px;
    border-style: solid;
    border-color: white;
    padding: 1%;
}

#cv-picture-pdf {
    width: 40%;

    border-width: 1px;
    border-style: solid;
    border-color: white;
    padding: 2px;
}

#section-profile-picture {
    padding-top: 10%;
}

#section-footer {
    background-color: rgba(68, 26, 26, 0.8);
    padding: 15px;
}

/*NB : bms like Business Management Solution*/
.blue-bms-color {
    color: #54c0eb
}
/*NB : ss like Scheduled-Shutdown*/
.blue-ss-color {
    color: #b5d7f2;
}

.padding-5 {
    padding-left: 5px;
    padding-right: 5px;
}


.isotope-image-format {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: auto;
    height: 250px;
}

.section-footer {
    color: #fff;
    width: 55%;
    right: 10%;
    left: 35%;
    position: relative;
    border-top: 3px solid rgba(250, 250, 250, 0.25);
}

.line-dec {
    width: 60px;
    height: 3px;
    background-color: #a43f49;
    margin: 10px auto;
}

.left-image {
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 0;
    padding: 3px;
}

.right-image {
    width: 135%;
    border-width: 2px;
}

code {
    color: #ff515b;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
}

@media screen and (max-width: 375px) {
    .menu .social-network {
        margin-top: 25px;
    }

    .menu .copyright-text {
    position: relative;
    margin-top: 20px;
}
    .menu .copyright-text p {
        border-top: 1px solid rgba(250, 250, 250, 0.1);
        display: inline-block;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        font-size: 13px;
     }

}

@media (min-width: 375px) {
    .jumbotron {
        padding: 4rem 2rem
    }
}
