.center-box {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  padding: 7vmin;
  text-align: center;
  transform: translate(-50%, -50%);
}

.subtitle-center-box {
  font-family: monospace;
}
